::-webkit-inner-spin-button {
  opacity: 1;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-family: Verdana, sans-serif;
  outline: none;
  user-select: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
}

h2 {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  width: 45vw;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainContent {
  display: flex;
  padding: 10px 8vw;
  flex-direction: column;
  width: fit-content;
  background-color: #eee;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: fit-content;
  height: fit-content;
  background-color: #eee;
  border-radius: 10px;
}

.preview_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 25px;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  text-align: center;
  align-items: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 5px;
  width: 320px;
  height: 320px;
  border-radius: 5px;
  text-align: center;
}

.wireframe {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  flex-direction: row;
  align-items: center;
}

#import {
  width: 100%;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#wireframe {
  height: 20px;
  margin-right: 5px;
  margin-left: 10px;
}

#wire_label {
  margin-right: 10px;
  height: 20px;
}

.select {
  display: flex;
  width: auto;
  margin: 10px 0px 20px 0px;
}

select {
  height: 30px;
  font-size: 15px;
  border-color: #ccc;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
}

.form {
  display: flex;
}
.textInput {
  display: flex;
  height: 30px;
  font-size: 20px;
  border-color: #ccc;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  margin: 10px 0px;
}

.inputDim {
  display: flex;
  width: fit-content;
  height: 50px;
  max-width: 60px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

button {
  height: 40px;
  width: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 15px;
  color: #fff;
  border-radius: 3px;
  border-style: none;
  background-color: #008cff;
  margin: 15px 0px;
}

button:hover {
  background-color: #109cff;
}

.parameters {
  display: flex;
  align-items: center;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0066cc;
}

.btn-group div {
  background-color: #ffffff; /* Green background */
  border: 1px solid #bbb; /* Green border */
  color: #008cff; /* White text */
  padding: 8px 18px; /* Some padding */
  margin-top: 5px;
  /*cursor: pointer;  Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group div:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group div:first-child {
  border-radius: 5px 0px 0px 5px;
}
.btn-group div:last-child {
  border-radius: 0px 5px 5px 0px;
}
/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group div:hover {
  background-color: #008cff;
  color: #fff;
}
