.content {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: fit-content;
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
}

.orderview {
  margin: 30px;
  width: 320px;
  height: 320px;
  border-radius: 5px;
  background-color: white;
}

.info {
  display: flex;
  flex-direction: column;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
